#root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    font-size: 16px; 
    padding-right: 5px;
}

#mainDiv {
    margin: auto;
    width: 60%;
    text-align: center;
    display: block; 
}

#mainDiv h1 {
    font-size: 28px;
}

#mainDiv p {
    font-size: 24px;
}

.quiz {
    margin: auto;
    width: 50%;
    display: none;
}

.question {
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    color: #fff;
    background-color: #6c4479;
    border-radius: 4px;
    margin: 3px;
    padding: 3px;
}

#checkAnswer {
    border-top: 2px solid grey;
    display: none;
    margin: 10px auto;
    width: 50%;
    padding-top: 10px;
    color: grey;
}

.finishGame {
    display: none;
    margin: auto;
    width: 50%;
}

#finishedText {
    font-size: 20px;
    font-weight: bold;
}

#finalScoreInfo {
    font-size: 16px;
}

.highscoresDiv {
    display: none;
    margin: auto;
    width: 50%;
}

#highscoresText {
    font-size: 20px;
    font-weight: bold;
}

#highscoresInfo {
    font-size: 16px;
    background-color: #daccdf;
    padding: 5px;
    margin-bottom: 10px;
    width: 75%;
}

#highscoresInfo li {
    border-bottom: 1px solid #6c4479;
    list-style-type: none;
}
